*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #ffffff;
    --text-color: #22100d;
    --second-color: #685f78;
    --main-color: #4C4280;
    --big-font: 3.8rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
    

}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 23px 13%;
    transition: all .40s ease;
}
.logo img{
    height: auto;
    width: 160px;
    max-width: 100%;

}
.navbar{
    display: flex;
    color: var(--bg-color);
}
.navbar a{
    color: var(--text-color);
    font-weight: 600;
    font-size: var(--p-font);
    padding: 10px 22px;
    transition: all .40s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.header-icons{
    display: flex;
    align-items: center;
}
.header-icons img{
    margin-left: 10px;
    font-size: 24px;
    color: var(--text-color);
    transition: all .40s ease;
    margin-right: 15px

}
.header-icons img:hover{
    transform: scale(1.2);
    
}
#menu-icon{
    font-size: 34px;
    color: var(--text-color);
    z-index: 1001;
    cursor: pointer;
    display: none;
}
section{
    padding: 80px 13%;
}
.home-img img{
   height: auto;
   width: 100%;
   padding: 10%;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background: radial-gradient(circle, rgba(241,209,223,1) 0%, rgba(159,194,234,1) 122%);
    background-size: cover ;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.home-text h1{
    font-size: var(--big-font);
    margin: 15px 0 15px;
}
.home-text h6{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}
.home-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin-bottom: 48px

}
.latter form{
    width: 100%;
    max-width: 460px;
    position: relative;
}
.latter form input:first-child{
    display: inline-block;
    width: 100%;
    outline: none;
    padding: 16px 14px 16px 15px;
    border: 2px solid var(--main-color);
    border-radius: 30px ;
}
.latter form input:last-child{
    position: absolute;
    display: inline-block;
    border: none;
    outline: none;
    background: var(--main-color);
    color: var(--bg-color);
    padding: 16px 40px;
    border-radius: 30px;
    cursor: pointer;
    top: 2px;
    right: 1px;
}
.container-img img{
    height: auto;
    width: 10%;
}
header.sticky{
    background: var(--bg-color);
    padding: 12px 13%;
    box-shadow: 0px 4px 15px rgb(0 0 0 /8%);
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    /*padding: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 1.5rem;
    align-items: center;
    cursor: pointer;
*/}
.container-box{
    display: flex;
    align-items: center;
    gap: 1.8rem;
    border: 1px solid #e9ecef;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);
    transition: all .40s ease;
}
.container-box:hover{
    transform: translateY(-15px);
}
.container-text h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}
.container-text p{
    font-size: var(--p-font);
    color: var(--second-color);
    font-weight: 500;
}
.center-text{
    text-align: center;
}
.center-text h5{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.center-text h2{
    font-size: var(--h2-font);
    line-height: 1.2;
}
.categories-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    grid-gap: 10px;
}
.box img{
    height: auto;
    width: 110px;
    margin-bottom: 20px;
}
.box{
    border: 1px solid #e9ecef;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);
    transition: all .40s ease;
}






/*  css */
.wrap {
    display: flex;
    justify: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 24px;
    background: radial-gradient(circle, rgba(241,209,223,1) 0%, rgba(159,194,234,1) 122%);;
  }
  
  .box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
  }
  
  .box-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 50% 20%;
  }
  
  
  .box-title {
    border-left: 3px solid var(--purple);
    padding-left: 12px;
  }
  
 
  .button {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    color: #000;
    background: transparent;
    box-shadow: 0px 0px 0px 1px black inset;
    transition:  0.4s ease;
  }
  
  .button:hover {
    background: var(--purple);
  }
  
  .fill-one {
    background: var(--light-bg);
  }
  
  .fill-two {
    background: var(--pink);
  }
  
  /* RESPONSIVE QUERIES */
  
  @media (min-width: 320px) {
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 460px) {
    .title-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 640px) {
    .box {
      flex-basis: calc(50% - 12px);
    }
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 840px) {
    .title-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 1024px) {
    .box {
      flex-basis: calc(33.3% - 16px);
    }
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 1100px) {
    .box {
      flex-basis: calc(25% - 18px);
    }
  }
  .main-btn{
    text-align: center;
    margin-top: 5rem;
  }
  .btn{
    display: inline-block;
    padding: 16px 30px;
    font-size: var(--p-font);
    font-weight: 700;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 30px;
    transition: all .40s ease;
  }
  

  .heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
}
.white-heading{
    color: #ffffff;
}
.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background: url(img/heading-line.png);
    background-repeat: no-repeat;
    background-position: center;
}
.white-heading:after {
    background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
}
.white-heading span {
    color: #ffffff;
}

.container1{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}


#footer{
  background: radial-gradient(circle, rgba(241,209,223,1) 0%, rgba(159,194,234,1) 122%);;
   /* 
   padding-top: 5rem; 
  padding-top: 7rem;
    padding-bottom: 80px;*/
    padding: 3rem;
  
}
.logo-footer{
  /* max-width: 300px; */
}
.social-links{
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

}
.social-links h2{
  padding-top: 15px;
  font-size: 20px;
  font-weight: 600;
  color: var(--main-color);
}
.social-links img{
  padding-bottom: 25px;
}
.social-icons{
  /* display: flex;
    gap: 3rem; */
  display: flex;
    flex-direction: column;
   /* gap: 1rem;*/
  color: #777777;
}
.social-icons a{
  /* font-size: 18px; */
    /* background: #ffffff; */
    /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
  color: #82074a; */
  /* margin-right: 18px; */
  color: var(--main-color);
  padding-left: 10%;
  
}

.social-icons a i{
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
    color: #82074a;
  font-size: 16px;
  margin-right: 12px;
}
li{
  list-style: none;
}
.useful-link h2{
  padding-top: 25px;
  font-size: 20px;
  font-weight: 600;
  color: var(--main-color);
}
.useful-link img{
  padding-bottom: 15px;
}
.use-links{
  line-height: 32px;
}
.use-links li i{
  font-size: 14px;
    padding-right: 8px;
    color: #898989;
}
.use-links li a{

    font-size: 15px;
    font-weight: 500;
  color: var(--main-color);
}

.address h2{
  padding-top: 15px;
  font-size: 20px;
  font-weight: 600;
  color: var(--main-color);
}
.address img{
  padding-bottom: 15px;
}
.address-links li a{
  
    font-size: 15px;
    font-weight: 500;
  color: var(--main-color);
}

.address-links li i{
  font-size: 16px;
    padding-right: 8px;
  color: #82074a;

}
.address-links li i:nth-child(1){
  padding-top: 9px;
}
.address-links .address1{
  font-weight: 500;
    font-size: 15px;
  display: flex;
  color: var(--main-color);
}
.address-links{
      line-height: 32px;
    color: #777777;
}
.copy-right-sec{
  padding: 1.8rem;
    background: #82074a;
    color: #fff;
    text-align: center;
}
.copy-right-sec a{
  color: #fcd462;
    font-weight: 500;
}
a{
  text-decoration:none;
}

/* footer section end */
@media(max-width: 1410px){
  header{
    padding: 10px 3%;
    transition: .2s;
  }
  header.sticky{
    padding: 12px 3%;
    transition: .2s
  }
  section{
    padding: 70px 3%;
    transition: .2s;
  }
  .container{
    padding: 70px;
    transition: .2s;
  }

}
@media(max-width: 1050px){
  :root{
    --big-font: 3.2rem;
    --h2-font:2rem;
    --p-font:1rem;
    transition:  .1s;
  }
  .home{
    height: 84vh
  }
}

@media(max-width:1025px){
  #menu-icon{
    display:block;
  }
  .navbar{
    position: absolute;
    top:100%;
    right: 0;
    width: 300px;
    height: 110vh;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px 30px;
    transition: all .40s ease;
  }
  .navbar a{
    display: block;
    margin: 1.3rem 0;
    color: var(--bg-color);
  }
  .navbar a:hover{
    color: var(--bg-color);
    transform: translateY(-5px);
}

}

@media(max-width: 890px){
  .home{
    height: 150vh;
    grid-template-columns: 1fr;
    gap:1rem;

  }
  .home-text{
    padding-top: 20px;
  }
  .home-img{
    text-align: center;
  }
  .home-img img{
    height: auto;
    width: 100%;
  }
  .about{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
@media(max-width: 600px){
  .home{
    height:120vh;
  }
}